<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/administracion/crear-cliente">Registrar Cliente</a></li>
            <li><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
            <li><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
            <li><a routerLink="/seguridad/recuperar-clave">Recuperar Clave</a></li>
            <li><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/administracion/crear-cliente">Registrar Cliente</a></li>
    <li><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
    <li><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
    <li><a routerLink="/seguridad/recuperar-clave">Recuperar Clave</a></li>
    <li><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
</ul>